<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <input name="inputMessage" type="text" placeHolder="Message" />
      <input name="inputAuthor" type="text" placeHolder="Author-Name" />
      <button type="submit"></button>
    </form>
  </body>
</html>
