<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form method="POST" action="/new">
        <input type="text" placeHolder="Message">
        <input type="text" placeHolder="Author-Name">
        <button type="submit"></button>
     </form>
  </body>
</html>