<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <ul>
      <% messages.map((message) => {%>
      <li><%= message.text %></li>
      <li><%= message.user %></li>
      <li><%=message.added %></li>
      <% }) %>
    </ul>
  </body>
</html>
